<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <!-- namespace + id 가 이름이 된다 -->
<mapper namespace="com.tistory.luahius.BoardMapper">
	<insert id="boardAdd" parameterType="com.tistory.luahius.service.Board">
		INSERT INTO board(
			board_pw,
			board_title,
			board_content,
			board_user,
			board_date
		) values(
			#{boardPw},
			#{boardTitle},
			#{boardContent},
			#{boardUser},
			now()
			)

	</insert>
	<!-- 마이바티스는 입력값 두개 못받는다 모델타입을 만들던지 맵을 만들던지 해야한다 -->
	<select id="selectBoardListPerPage" parameterType="Map"  
			resultType="com.tistory.luahius.service.Board">
		SELECT
			board_no as boardNo, 
			board_title as boardTitle, 
			board_user as boardUser, 
			board_date as boardDate 
		FROM board 
		ORDER BY board_date DESC 
		LIMIT #{beginRow},#{pagePerRow}
	</select>
	
	<select id="selectTotalBoardCount" resultType="int">
		SELECT 
			COUNT(*) 
		FROM board
	</select>
</mapper>

