<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tistory.luahius.FileBoardMapper">
	<insert id="fileAdd" parameterType="com.tistory.luahius.service.FileBoard">
		INSERT INTO fileboard(
			file_title,
			file_auth,
			file_name,
			file_extention,
			file_path		
		)VALUES(
			#{title},
			#{auth},
			#{fileName},
			#{extention},
			#{filePath}
		)
	</insert>

	<!-- 마이바티스는 입력값 두개 못받는다 모델타입을 만들던지 맵을 만들던지 해야한다 -->
	<select id="selectBoardListPerPage" parameterType="Map"  
			resultType="com.tistory.luahius.service.FileBoard">
		SELECT
			file_no as fileNo,
			file_title as title,
			file_auth as auth,
			file_name as fileName,
			file_extention as extention,
			file_path	as filePath 
		FROM fileboard
		ORDER BY file_no DESC 
		LIMIT #{beginRow},#{pagePerRow}
	</select>
	
	<select id="selectTotalBoardCount" resultType="int">
		SELECT 
			COUNT(*) 
		FROM fileboard
	</select>

</mapper>