<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
		http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
		version="3.0">

	<!-- Creates the Spring Container shared by all Servlets and Filters 
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
-->

	<!-- Processes application requests -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/base/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<!--
		 설정 태그  
		 	location : file-size-threshold 에서 정한 크기보다 큰 파일 임시로 저장될 폴더
		 	max-file-size : 업로드 가능한 파일의 최대 크기(바이트) -1은 제한 없음
		 	max-request-size : 전체 Multipart 요청 데이터의 최대 크기
		 	file-size-threshold : 지정된 크기보다 작으면 메모리에 임시저장, 크면 location위치에 저장
		 -->
		<multipart-config>
			<location>c:\temp</location>
			<max-file-size>-1</max-file-size>
			<max-request-size>-1</max-request-size>
			<file-size-threshold>-1</file-size-threshold>
		</multipart-config>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

</web-app>
